body{background-color:#F2E9DC ;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items:center ;
    justify-content: center;
}

/* flex */
.First_container{
    display: flex;
    flex-wrap: no-wrap;   
    background-color:#CE7963;
    flex-direction: row;
    padding: 5px 15px ;
    border-radius: 10px;
    line-height: 0%;
    color: white;
}

#titlebar{width: 300px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

#icon {display: flex;
    justify-content: flex-end;
}
/* flex */
.Second_container{
    display: flex;
    background-color: white;
    margin-top: 15px;
    border-radius: 10px;
}

.inner_self{
    padding: 20px;
    flex-grow: 1;
}

.week{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex: grow 1;

}

.days{
    width: 33px;
    height: 50px;
    background-color: #CE7963;
    border-radius: 3.5px;

}

.dtext{
display: flex;
flex: grow 1;
padding:4px 5px 0px 0px ;
justify-content: space-between;
font-size: 10pt;
}

hr{
    opacity: 0.3;
}

.footer{
    display: flex;
    justify-content: space-between;
    line-height: 0%;
}

.leftS{
    text-align: right;
    line-height: 100%;

}